{%comment %}

{%- liquid
  assign alignment_values = section.settings.alignment | split: '_'
  assign heading_alignment = alignment_values | first
  assign content_alignment = alignment_values | last
-%}

<div
  data-section-id="{{ section.id }}"
  data-section-type="rich-text"
  class="
    rich-text
    section
    section--divider-{{ section.settings.divider_style }}
    background--{{ section.settings.content_background_color }}
    {{ section.settings.section_padding }}
    {% if settings.enable_section_animations and section.settings.enable_animation %}
      animation
      animation--rich-text
    {% endif %}
  "
  style="
    {% if section.settings.content_width == 'custom' %}
      --content-width: {{ section.settings.custom_content_width }}px;
    {% endif %}
    --content-alignment: {{ content_alignment }};
    --heading-alignment: {{ heading_alignment }};
  "
>
  <div class="rich-text__inner section-blocks animation--section-blocks">
    {%- for block in section.blocks -%}
      {%- case block.type -%}
        {%- when 'accent' -%}
          {%- unless block.settings.accent == blank -%}
            <p class="rich-text__accent fs-accent section-blocks__accent">
              {{ block.settings.accent }}
            </p>
          {%- endunless -%}
        {%- when 'heading' -%}
          {%- unless block.settings.title == blank -%}
            <{{ block.settings.heading_tag }} class="rich-text__heading ff-heading {{ block.settings.heading_font_class }} section-blocks__heading">
              {{ block.settings.title | newline_to_br }}
            </{{ block.settings.heading_tag }}>
          {%- endunless -%}
        {%- when 'subheading' -%}
          {%- unless block.settings.subheading == blank -%}
            <{{ block.settings.subheading_tag }} class="rich-text__subheading ff-subheading section-blocks__subheading">
              {{ block.settings.subheading }}
            </{{ block.settings.subheading_tag }}>
          {%- endunless -%}
        {%- when 'text' -%}
          {%- unless block.settings.text == blank -%}
            <div class="rich-text__text rte ff-body {{ block.settings.text_font_class }} section-blocks__subheading">
              {{ block.settings.text }}
            </div>
          {%- endunless -%}
        {%- when 'image' -%}
          {%- liquid
            assign full_width = false
            if block.settings.content_width == 'full'
              assign full_width = true
            endif
          -%}
          {%- render 'image-block',
            shopify_attributes: block.shopify_attributes,
            wrapper_class: wrapper_class,
            image: block.settings.image,
            width: block.settings.image_size,
            mobile_width: block.settings.image_size_mobile,
            break_to_mobile_at: '720',
            align: content_alignment,
            full_width: full_width
          -%}
        {%- when 'button' -%}
          {%-
            render 'button-block' with
            shopify_attributes: block.shopify_attributes,
            wrapper_class: "rich-text__button section-blocks__button",
            link: block.settings.link,
            label: block.settings.link_text,
            button_style: block.settings.button_style,
            button_alignment: content_alignment,
            buttons_can_inline: true,
            forloop: forloop
          -%}
        {%- when 'border' -%}
          {%- render 'border-block' -%}
        {%- when 'spacer' -%}
          {%- render 'spacer-block', space: block.settings.space -%}
      {%- endcase -%}
    {%- endfor -%}
  </div>
</div>

{% schema %}
{
  "name": "Rich Text Advanced",
  "tag": "section",
  "disabled_on": {
    "groups": [
      "header",
      "custom.overlay"
    ]
  },
  "settings": [
    {
      "type": "select",
      "id": "alignment",
      "label": "t:sections.rich_text.settings.alignment.label",
      "options": [
        {
          "value": "left_left",
          "label": "t:sections.rich_text.settings.alignment.options.all_left"
        },
        {
          "value": "center_center",
          "label": "t:sections.rich_text.settings.alignment.options.all_center"
        },
        {
          "value": "center_left",
          "label": "t:sections.rich_text.settings.alignment.options.heading_center"
        }
      ]
    },
    {
      "type": "header",
      "content": "t:shared.settings.section_style.header.content"
    },
    {
      "type": "checkbox",
      "id": "enable_animation",
      "label": "t:shared.settings.section_style.enable_animation.label",
      "default": true,
      "info": "t:shared.settings.section_style.enable_animation.info"
    },
    {
      "type": "select",
      "id": "divider_style",
      "label": "t:shared.settings.section_style.divider_style.label",
      "options": [
        {
          "value": "none",
          "label": "t:shared.settings.section_style.divider_style.options.none"
        },
        {
          "value": "solid",
          "label": "t:shared.settings.section_style.divider_style.options.solid"
        }
      ],
      "default": "none"
    },
    {
      "type": "select",
      "id": "section_padding",
      "label": "t:shared.settings.section_style.section_padding.label",
      "options": [
        {
          "value": "section--vertical-padding-none",
          "label": "t:shared.settings.section_style.section_padding.options.none"
        },
        {
          "value": "section--vertical-padding-top-bottom",
          "label": "t:shared.settings.section_style.section_padding.options.both"
        },
        {
          "value": "section--vertical-padding-top-only",
          "label": "t:shared.settings.section_style.section_padding.options.top"
        },
        {
          "value": "section--vertical-padding-bottom-only",
          "label": "t:shared.settings.section_style.section_padding.options.bottom"
        }
      ],
      "default": "section--vertical-padding-top-bottom"
    },
    {
      "type": "radio",
      "id": "content_background_color",
      "label": "Background Color",
      "options": [
        {
          "value": "white",
          "label": "White"
        },
        {
          "value": "beige",
          "label": "Beige"
        }
      ],
      "default": "beige"
    },
    {
      "type": "radio",
      "id": "content_width",
      "label": "t:shared.settings.section_style.content_width.label",
      "options": [
        {
          "value": "full",
          "label": "t:shared.settings.section_style.content_width.options.full"
        },
        {
          "value": "custom",
          "label": "t:shared.settings.section_style.content_width.options.custom"
        }
      ],
      "default": "custom"
    },
    {
      "type": "range",
      "id": "custom_content_width",
      "label": "t:shared.settings.section_style.custom_content_width.label",
      "min": 400,
      "max": 1000,
      "step": 50,
      "unit": "px",
      "default": 700
    }
  ],
  "blocks": [
    {
      "type": "accent",
      "name": "t:shared.section_blocks.accent.name",
      "settings": [
        {
          "type": "text",
          "id": "accent",
          "label": "t:shared.section_blocks.accent.settings.accent.label",
          "default": "t:shared.section_blocks.accent.settings.accent.default"
        }
      ]
    },
    {
      "type": "heading",
      "name": "t:shared.section_blocks.heading.name",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "t:shared.section_blocks.heading.settings.title.label",
          "default": "t:sections.rich_text.blocks.heading.settings.title.default"
        },
        {
          "type": "select",
          "id": "heading_tag",
          "label": "t:shared.settings.heading_tag.heading.label",
          "options": [
            {
              "value": "h2",
              "label": "t:shared.settings.heading_tag.options.h2"
            },
            {
              "value": "h3",
              "label": "t:shared.settings.heading_tag.options.h3"
            },
            {
              "value": "h4",
              "label": "t:shared.settings.heading_tag.options.h4"
            },
            {
              "value": "h5",
              "label": "t:shared.settings.heading_tag.options.h5"
            },
            {
              "value": "h6",
              "label": "t:shared.settings.heading_tag.options.h6"
            }
          ],
          "default": "h2"
        },
        {
          "type": "paragraph",
          "content": "t:shared.settings.heading_tag.heading.info"
        },
        {
          "type": "select",
          "id": "heading_font_class",
          "label": "t:shared.settings.heading_font_class.label",
          "options": [
            {
              "value": "fs-heading-3-base",
              "label": "t:shared.settings.heading_font_class.options.small"
            },
            {
              "value": "fs-heading-2-base",
              "label": "t:shared.settings.heading_font_class.options.medium"
            },
            {
              "value": "fs-heading-1-base",
              "label": "t:shared.settings.heading_font_class.options.large"
            }
          ],
          "default": "fs-heading-2-base"
        }
      ]
    },
    {
      "type": "subheading",
      "name": "Subheading",
      "settings": [
        {
          "type": "text",
          "id": "subheading",
          "label": "Subheading",
          "default": "Subheading Text"
        },
        {
          "type": "select",
          "id": "subheading_tag",
          "label": "Subheading Tag",
          "options": [
            {
              "value": "h2",
              "label": "H2"
            },
            {
              "value": "h3",
              "label": "H3"
            },
            {
              "value": "h4",
              "label": "H4"
            },
            {
              "value": "h5",
              "label": "H5"
            },
            {
              "value": "h6",
              "label": "H6"
            }
          ],
          "default": "h3"
        },
        {
          "type": "paragraph",
          "content": "Paragraph"
        }
      ]
    },
    {
      "type": "text",
      "name": "t:shared.section_blocks.text.name",
      "settings": [
        {
          "type": "richtext",
          "id": "text",
          "label": "t:shared.section_blocks.text.settings.text.label",
          "default": "t:sections.rich_text.blocks.text.settings.text.default"
        },
        {
          "type": "select",
          "id": "text_font_class",
          "label": "t:shared.settings.text_font_class.label",
          "options": [
            {
              "value": "fs-body-75",
              "label": "t:shared.settings.text_font_class.options.small"
            },
            {
              "value": "fs-body-100",
              "label": "t:shared.settings.text_font_class.options.regular"
            },
            {
              "value": "fs-body-200",
              "label": "t:shared.settings.text_font_class.options.large"
            }
          ],
          "default": "fs-body-100"
        }
      ]
    },
    {
      "type": "image",
      "name": "Image",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image Picker"
        },
        {
          "type": "range",
          "id": "image_size",
          "label": "Image Size",
          "min": 50,
          "max": 750,
          "step": 10,
          "unit": "px",
          "default": 200
        },
        {
          "type": "range",
          "id": "image_size_mobile",
          "label": "Image Size Mobile",
          "min": 50,
          "max": 350,
          "step": 10,
          "unit": "px",
          "default": 200
        }
      ]
    },
    {
      "type": "button",
      "name": "Button",
      "limit": 2,
      "settings": [
        {
          "type": "url",
          "id": "link",
          "label": "Link URL"
        },
        {
          "type": "text",
          "id": "link_text",
          "label": "Link Text",
          "default": "Text"
        },
        {
          "type": "select",
          "id": "button_style",
          "label": "Button Style",
          "options": [
            {
              "value": "btn--primary",
              "label": "Primary"
            },
            {
              "value": "btn--secondary",
              "label": "Secondary"
            },
            {
              "value": "btn--callout",
              "label": "Callout"
            }
          ],
          "default": "btn--primary"
        }
      ]
    },
    {
      "type": "border",
      "name": "Border"
    },
    {
      "type": "spacer",
      "name": "Spacer",
      "settings": [
        {
          "type": "range",
          "id": "space",
          "label": "Space Height",
          "min": 4,
          "max": 64,
          "step": 4,
          "unit": "px",
          "default": 12
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Rich Text Advanced",
      "blocks": [
        {
          "type": "heading"
        },
        {
          "type": "text"
        }
      ]
    }
  ]
}
{% endschema %}


{% endcomment %}